# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
.wwebjs_auth/
.wwebjs_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
